@model IEnumerable<AprendeComMinions.Models.Aula>

@{
    ViewBag.Title = "Aulas";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrauDif)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrauDif)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AulaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AulaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AulaID })
        </td>
    </tr>
}

</table>*@
		<!-- /section:basics/navbar.layout -->
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try { ace.settings.check('main-container', 'fixed') } catch (e) { }
    </script>

    <!-- #section:basics/sidebar -->
    <div id="sidebar" class="sidebar                  responsive">
        <script type="text/javascript">
            try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
        </script>



        <ul class="nav nav-list">
            <li class="">
                <a href="@Url.Action("Index","Home")">
                    <img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/24/Minion-Hello-icon.png">
                    <span class="menu-text"> Início </span>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="active">
                <a href="@Url.Action("Index", "Aula")">
                    <img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/24/Minion-Amazed-icon.png">
                    <span class="menu-text">
                        Aulas
                    </span>
                </a>
            </li>

            <li class="">
                <a href="@Url.Action("Index", "Exercicios")">
                    <img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/24/Minion-Reading-icon.png">
                    <span class="menu-text"> Vamos praticar? </span>
                </a>
            </li>

            <li class="">
                <a href="@Url.Action("Index", "Testes")">
                    <img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/24/Minion-Shout-icon.png">
                    <span class="menu-text"> Pronto para ser posto à prova? </span>
                </a>
            </li>
            <li class="">
                <a href="@Url.Action("Index", "SessaoEstudoes")">
                    <img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/32/Minion-Bananas-icon.png">
                    <span class="menu-text"> Sessões de Estudo </span>
                </a>
            </li>
            <li class="">
                <a href="estatisticas.html">
                    <img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/24/Minion-Shy-icon.png">
                    <span class="menu-text"> Vê Como Te Tens Saído! </span>
                </a>
            </li>
        </ul><!-- /.nav-list -->
        <img style="margin-top: 100px; margin-left:50px;" src="http://i2.minus.com/iDS4TYBBVdzB6.png" width="170" hegth="170">
    </div>

    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    <center>Aulas</center>
                </h1>
            </div>
            <script type="text/javascript">
                try { ace.settings.check('main-container', 'fixed') } catch (e) { }
            </script>


            <!-- PAGE CONTENT BEGINS -->




            <div>
                <ul class="ace-thumbnails clearfix">
                    @for (int i = 0; i < 6; i++) { 
                    <li>
                        <a class="cboxElement" href="@Url.Action("PageAula", "Aula")" data-rel="colorbox">
                            <img alt="150x150" src="http://upload.wikimedia.org/wikipedia/pt/d/d6/Minions.jpg" width="150" height="150">
                            <div class="text">
                                <div class="inner">@i</div>
                            </div>
                        </a>
                    </li>
                    }
                </ul>
            </div>

            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->

</div>
