@{
    ViewBag.Title = "Exercicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- /section:basics/navbar.layout -->
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try { ace.settings.check('main-container', 'fixed') } catch (e) { }
    </script>

    <!-- #section:basics/sidebar -->
    <div id="sidebar" class="sidebar                  responsive">
        <script type="text/javascript">
            try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
        </script>



        <ul class="nav nav-list">
            <li class="">
                <a href="@Url.Action("Index","Home")">
                    <img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/24/Minion-Hello-icon.png">
                    <span class="menu-text"> Início </span>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("Index", "Aula")">
                    <img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/24/Minion-Amazed-icon.png">
                    <span class="menu-text">
                        Aulas
                    </span>
                </a>
            </li>

            <li class="active">
                <a href="@Url.Action("Index", "Exercicios")">
                    <img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/24/Minion-Reading-icon.png">
                    <span class="menu-text"> Vamos praticar? </span>
                </a>
            </li>

            <li class="">
                <a href="@Url.Action("Index", "Testes")">
                    <img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/24/Minion-Shout-icon.png">
                    <span class="menu-text"> Pronto para ser posto à prova? </span>
                </a>
            </li>
            <li class="">
                <a href="@Url.Action("Index", "SessaoEstudoes")">
                    <img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/32/Minion-Bananas-icon.png">
                    <span class="menu-text"> Sessões de Estudo </span>
                </a>
            </li>
            <li class="">
                <a href="@Url.Action("Details", "Utilizadors")">
                    <img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/24/Minion-Shy-icon.png">
                    <span class="menu-text"> Vê Como Te Tens Saído! </span>
                </a>
            </li>
        </ul><!-- /.nav-list -->
        <img style="margin-top: 150px; margin-left:50px;" src="http://3.bp.blogspot.com/-iyWCYN4hDzA/UxhRJWhIKeI/AAAAAAAAEm8/1vDyyoKBzOI/s1600/minion_png_by_kathyvip-d6ngs5k.png" width="180" hegth="180">
    </div>
    <div class="main-content">
        <div class="main-content-inner">

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <div class="page-header">
                    <h1>
                        <center>Título do Exercicio</center>
                    </h1>
                </div><!-- /.page-header -->
            

                    <!-- PAGE CONTENT BEGINS -->
                    <div style="visibility:visible;">
                        @for(int j=0;j<3;j++){
                        <div style="margin-left:150px;margin-top:7px;" class="row">
                            @for(int i=0;i<2;i++){
                            <div class="col-md-6">
                                <div class="control-group"> 

                                    <img alt="150x150" src="http://upload.wikimedia.org/wikipedia/pt/d/d6/Minions.jpg" width="150" height="150">

                                    <div class="checkbox">
                                        <label class="block">
                                            <input name="form-field-checkbox" class="ace input-lg" type="checkbox">
                                            <span class="lbl"> Resposta1</span>
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label class="block">
                                            <input name="form-field-checkbox" class="ace input-lg" type="checkbox">
                                            <span class="lbl"> Resposta2</span>
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label class="block">
                                            <input name="form-field-checkbox" class="ace input-lg" type="checkbox">
                                            <span class="lbl"> Resposta3</span>
                                        </label>
                                    </div>
                                    </div>
                                        
                                    
                                    </div>
                            }
                                </div>
                            }
                            </div>
                            <a href=""><button style="margin-top: 20px;margin-left:467px;" class="btn btn-lg btn-primary">Terminar</button></a>
                            <a href=""><button style="margin-top: 20px;" class="btn btn-lg btn-primary">Desistir</button></a>
                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.page-content -->
                    </div>
                </div><!-- /.main-content -->
