@model AprendeComMinions.Models.RegistarModel

@{
    ViewBag.Title = "Aprende Com os Minions";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2 style="margin-left: 138px;">@ViewBag.Title</h2></center>
<body class="login-layout">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-md-4">
                    <img src="http://4.bp.blogspot.com/-ES9Xjd1dDFo/VHxDI0IuwKI/AAAAAAAAWu4/TSq4MrcWyTk/s1600/png%2Bminions%2Bfacebook-123%2B(3).png">
                </div>
            </div>
            <div style="margin-top:-500px" class="col-sm-6 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="row">

                                            @using (Html.BeginForm("Create", "Utilizadors", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div class="form-horizontal">
                                                    <h4>Novo Utilizador</h4>
                                                    <hr />
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        <div class="col-md-10">
                                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.ConfirmarPassword, new { @class = "col-md-2 control-label" })
                                                        <div class="col-md-10">
                                                            @Html.PasswordFor(m => m.ConfirmarPassword, new { @class = "form-control" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-md-offset-2 col-md-10">
                                                            <input type="submit" value="Registar" class="btn btn-default" />
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="margin-left:70px;">
        @Html.ActionLink("Voltar atrás", "Login")
    </div>
</body>