@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- /section:basics/navbar.layout -->
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try { ace.settings.check('main-container', 'fixed') } catch (e) { }
    </script>

    <!-- #section:basics/sidebar -->
    <div id="sidebar" class="sidebar                  responsive">
        <script type="text/javascript">
            try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
        </script>



        <ul class="nav nav-list">
            <li class="">
                <a href="@Url.Action("Index","Home")">
                    <img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/24/Minion-Hello-icon.png">
                    <span class="menu-text"> Início </span>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("Index", "Aula")">
                    <img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/24/Minion-Amazed-icon.png">
                    <span class="menu-text">
                        Aulas
                    </span>
                </a>
            </li>

            <li class="">
                <a href="@Url.Action("Index", "Exercicios")">
                    <img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/24/Minion-Reading-icon.png">
                    <span class="menu-text"> Vamos praticar? </span>
                </a>
            </li>

            <li class="">
                <a href="@Url.Action("Index", "Testes")">
                    <img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/24/Minion-Shout-icon.png">
                    <span class="menu-text"> Pronto para ser posto à prova? </span>
                </a>
            </li>
            <li class="active">
                <a href="@Url.Action("Index", "SessaoEstudoes")">
                    <img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/32/Minion-Bananas-icon.png">
                    <span class="menu-text"> Sessões de Estudo </span>
                </a>
            </li>
            <li class="">
                <a href="@Url.Action("Details", "Utilizadors")">
                    <img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/24/Minion-Shy-icon.png">
                    <span class="menu-text"> Vê Como Te Tens Saído! </span>
                </a>
            </li>
        </ul><!-- /.nav-list -->
        <img style="margin-top: 130px; margin-left:-50px;" src="http://fc04.deviantart.net/fs71/i/2013/241/9/e/minion_by_bibi97nd-d6k9zm2.png" width="350" hegth="350">
    </div>
    <div class="main-content">
        <div class="main-content-inner">

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <div class="page-header">
                    <h1>
                        <center>Criar Sessão de Estudo</center>
                    </h1>
                </div><!-- /.page-header -->
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div style="margin-left:510px;" class="col-md-6">
                        <h1 style="color:#1F3A93">
                            Temas
                            <br>
                            <br>
                        </h1>
                        <div style="margin-left:-10px;" class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                Escolher
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tema1</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tema2</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tema2</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tema2</a></li>
                            </ul>
                        </div>
                    </div>




                    <a href=""><button style="margin-top: 200px;margin-left:900px;" class="btn btn-lg btn-primary">Criar</button></a>
                    <!-- PAGE CONTENT ENDS -->

